@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --border: 0, 0%, 15%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.description {
  @apply font-medium leading-6 text-sm;
}

a {
  @apply hover:underline;
}

.bg-green {
  fill: #39d353;
}
.heatmap-day-opacity-0 {
  fill: rgb(32, 33, 39);
}

.heatmap-day-opacity-1 {
  opacity: 0.2;
}
.heatmap-day-opacity-2 {
  opacity: 0.3;
}
.heatmap-day-opacity-3 {
  opacity: 0.4;
}
.heatmap-day-opacity-4 {
  opacity: 0.5;
}
.heatmap-day-opacity-5 {
  opacity: 0.6;
}
.heatmap-day-opacity-6 {
  opacity: 0.7;
}
.heatmap-day-opacity-7 {
  opacity: 0.8;
}
.heatmap-day-opacity-8 {
  opacity: 0.9;
}
.heatmap-day-opacity-9 {
  opacity: 1;
}

.react-calendar-heatmap text {
  font-size: 8px !important;
}
.heatmap-day-box {
  rx: 2.5;
  ry: 2.5;
}

/* Add this CSS to your stylesheet */
code {
  background-color: rgba(27, 31, 35, 0.05); /* Light grey background */
  border-radius: 3px; /* Rounded corners */
  font-family: monospace; /* Monospaced font */
  padding: 0.2em 0.4em; /* Padding inside the code element */
  margin: 0; /* No margin */
  font-size: 85%; /* Smaller font size */
  color: #d63384; /* Whatever color you want for the text */
}

/* Add this CSS to your stylesheet */
a {
  color: grey; /* Set your preferred shade of grey */
}

/* Style for 'code' links */
a.code-link {
  background-color: rgba(27, 31, 35, 0.05); /* Light grey background */
  border-radius: 3px; /* Rounded corners */
  font-family: monospace; /* Monospaced font */
  padding: 0.2em 0.4em; /* Padding inside the code element */
  margin: 0; /* No margin */
  font-size: 85%; /* Smaller font size */
  color: #d63384; /* Custom color for the text, set it to grey for your use case */
  text-decoration: none; /* Always underline */
}

a.code-link:hover {
  text-decoration: underline; /* Underline on hover */
}

figcaption {
  font-size: 0.9em; /* Slightly smaller than the body text */
  color: #666; /* A lighter shade of grey */
  font-style: italic; /* Italicize the text */
  text-align: center; /* Center-align the text */
  margin-top: 0.5em; /* Add space above the caption */
  margin-bottom: 1em; /* Add space below the caption */
}

.fixed-header-table .rt-ScrollAreaRoot,
.fixed-header-table .rt-ScrollAreaViewport,
.fixed-header-table .rt-TableRootTable {
  overflow: unset !important;
}

.nav-active div {
  @apply opacity-100 after:h-full after:top-0;
}
